/* Empty. Add your own CSS if you like */
.container {
  padding: 50px 30px;
}
.form-control {
  padding-top: 20px;
  border-bottom: 1px solid #868686;
}
.form-control label {
  vertical-align: middle;
}
.form-control input {
  display: inline-block;
}
.form-controls {
  padding-top: 10px;
}
.fr {
  float: right;
}
.ma {
  padding-top: 50px;
}
a {
  text-decoration: none;
}
.fl{
  float: left;
}
.third-login {
  text-align: center;
}
.third-login ul li{
  float: left;
}
.left-line {
  position: absolute;
  height: 50px;
  width: 30%;
  left: 0;
  top: 3px;
}
.right-line {
  position: absolute;
  height: 50px;
  width: 30%;
  right: 0;
  top: 3px;
}
.third-title {
  position: relative;
}
.third-social {
  display: table;
  margin: 0 auto;
  padding-top: 10px;
}
.wechat {
  background-image: url('../img/icon32_wx_logo.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 32px;
  height: 32px;
  padding-top: 5px;
  padding-left: 10px;
}
.weibo {
  background-image: url('../img/sina-weibo.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 32px;
  height: 32px;
  padding-right: 10px;
}
.third-social ul li {
  padding-left: 10px;
}
.third-social ul>li {
  padding-right: 10px;
}

